@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

main {
  padding: 0 0 5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: left;

}

.card {
  max-width: 350px;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto 1rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  display: flex;
  // align-items: center;


  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding-top: .5rem;
  };
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card img {
  width: 100%;
}
.card_single {
  display: flex;
  justify-content: center;
}
.search {
  padding: 1rem 0 5rem;
  text-align: center;

  h3 {
    text-align: center;
  }
}

.jumbotron.hero {
  background: white
}